.card{
    background-image: url("../../assets/imageSmall.jpg");
    background-repeat: repeat;
    background-size: 100% 100%;
 /* background-position-y: -45px; */
    float: none; /* Added */
}

/* .card p{
    margin-top: 7rem !important;
} */
.startOnceButton{
    margin-left: -21px !important;
}
.timer-input{
    margin-top: 6rem ;
}
.badge
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;
  width: 60%;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: auto;
  margin-right: auto;

}
.open-site{
    -webkit-animation-name: open-site-animation; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: open-site-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes open-site-animation {
  0%   {opacity: 1}
  50%  {opacity: 0.5;}
  100%  {opacity: 1}
}

/* Standard syntax */
@keyframes open-site-animation {
  0%   {transform: scale(1)}
  50%  {transform: scale(1.1)}
  100% {transform: scale(1)}

}
