<div class="container h-100">

  <div class="row">
    <div class="col">
      <h5 *ngIf="alertMsg" class="connection-info text-center mt-4"><span class="badge badge-pill p-2" 
      [class.badge-success]="alertMsg.connectionStatus==='success'"
      [class.badge-danger]="alertMsg.connectionStatus==='danger'"
      [class.badge-warning]="alertMsg.connectionStatus==='warning'">{{alertMsg.content}}</span></h5>
    </div>
  </div>
     

  <!-- <div
    class="alert mt-3"
    role="alert"
    *ngIf="alertMsg"
    [ngClass]="alertMsg.type">{{ alertMsg.content }}</div> -->

  <div class="row h-100">
    <!-- Card -->
    <div class="col-sm-6 d-flex align-items-center">
      <div class="card ml-auto mr-auto" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title text-danger">Fly Generator</h5>

           <!-- Flight Info -->
           <div style="height: 14em;">
                <div *ngIf="flight" class="alert alert-primary flight-info mt-0 mb-0 d-sm-none d-block" role="alert" rundomBackGround>
              <h6 class="card-subtitle"><p class="mb-0">flight humber:</p> 
                                             <p>{{flight.id}}</p> </h6>
              <hr class="mt-0 mb-0">
              <p class="m-0">from: {{flight.from}}</p>
              <p class="m-0">number of passagers: {{flight.numberOfPass}}</p>
              <p class="m-0">speed: {{flight.speed}}</p>
              <p class="m-0">distance to terminal: {{flight.distanceToTerminal}}</p>
              <p class="m-0">fuel: {{flight.fuel}}</p>
           </div>
           </div>
        

          <!-- Interval -->
         <div class="row" >
            <div class="col text-dark">
              <h6>set interval</h6> 
            </div>
          </div>
          
         <div
         class="btn-group btn-group-lg w-100" 
         role="group">
         <button
           type="button"
           class="btn btn-primary w-50"
           (click)="setTimeInterval(-1)">
           <i class="fa fa-arrow-circle-down fa-2x"></i>
         </button>
         <button disabled type="button" class="btn btn-dark w-25" (click)="startOnce()">
           {{timeInterval}}
         </button>
         <button
           type="button"
           class="btn btn-primary w-50"
           (click)="setTimeInterval(1)"><i class="fa fa-arrow-circle-up fa-2x"></i></button>
       </div>

       <!-- Buttons -->
       <div class="row mt-4">
          <div class="col text-dark text-center">
            <h6>start</h6> 
          </div>
          <div class="col text-dark text-center">
              <h6>start once</h6> 
            </div>
            <div class="col text-dark text-center">
                <h6>stop</h6> 
              </div>
        </div>

        <!-- Button Div -->
          <div
            class="btn-group btn-group-lg ml-auto mr-auto w-100"
            role="group"
            aria-label="Basic example">
            <button
              type="button"
              class="btn btn-success"
              style="width: 33.33%;"
              (click)="startFlyGeneration()"><i class="fa fa-play-circle fa-2x"></i></button>

            <button type="button" 
                    class="btn btn-warning text-center" 
                    (click)="startOnce()"
                    style="width: 33.33%;">
                    <i class="fa fa-play-circle fa-2x"></i>
                  </button>

            <button
              type="button"
              class="btn btn-danger"
              style="width: 33.33%;"
              (click)="stopFlyGeneration()"><i class="fa fa-stop-circle fa-2x"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 d-flex justify-content-center">
      <app-message class="message-block d-none d-sm-block"></app-message>
    </div>
  </div>
</div>
