
.container-fluid{
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
.row{
    height: 33% !important;
}
.list-group{
    margin-top: -5%;
}
@media only screen and (max-height: 400px) {

    .single-plain-info{
        line-height: 100%;
    }
    }
