

<div class="card alert-primary terminal-info">
    <div class="card-body">
        <h5 class="card-title">Terminal Info ({{flights.length}})</h5>
        <section class="info-cart-body">
                  <hr>
        <div class="row m-0 p-0">
            <div class="col m-0 p-0">
                <p class="card-text">Step 3: {{counters[2]}}</p>
            </div>
            <div class="col m-0 p-0">
                <p class="card-text">Step 2: {{counters[1]}}</p>
            </div>
            <div class="col m-0 p-0">
               <p class="card-text">Step 1: {{counters[0]}}</p>
            </div>
        </div>
        <p class="card-text m-0 p-0">Runway: {{counters[3]}}</p>
        <div class="row m-0 p-0">
            <div class="col m-0 p-0">
                <p class="card-text m-0">Parking left: {{counters[4]}}</p>
            </div>
            <div class="col m-0 p-0">
                <p class="card-text m-0">Parking right: {{counters[7]}}</p>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col m-0 p-0">
                <p class="card-text m-0">Board left: {{counters[5]}}</p>
            </div>
            <div class="col m-0 p-0">
                <p class="card-text m-0">Board right: {{counters[6]}}</p>
            </div>
        </div>
        </section>

    </div>
  </div>
